.centre{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#time{
  background: red;
  padding: 1em;
  border-radius: 10px;
  display: none;
}

#hex, #dec, #secs, #converted{
  /*font: 30px Courier;*/
  /*font-family: 'Metal Mania', cursive;*/
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
  color: white;
  text-align: left;
}
#menu{
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 25%;
  border-radius: 10px;
  text-align: center;
}

body{
}
